* {
    line-height: auto;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }

  body {
    background-color: black;
    background-image: url(img-principal.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    padding-top: 200px;
  }

  .center {
    max-width: 1100px;
  }

  .section-um {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .card-um-section-um h1 {
    font-size: 50px;
    max-width: 600px;
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .card-um-section-um p {
    width: 500px;
    padding-bottom: 50px;
    line-height: 28px;
    font-size: 18px;
  }

  .bt-principal {
    border-radius: 5px;
    background: #FC0;
    width: 253px;
    height: 38px;
    flex-shrink: 0;
  }

  .bt-principal a {
    color: black;
    font-size: 16px;
  }

  .box-section-dois {
    padding-top: 200px;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    justify-content: center;
  }

  .titulo-section-dois {
    text-align: center;
    padding: 100px 0 100px 0;
    font-size: 36px;
  }

  .destaque {
    color: #FC0;
  }

 
  .section-dois {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    width: 1100px;
  }

  .section-dois .card {
    width: 350px;
    border: double 2px transparent;
    border-radius: 10px;
    background-image: linear-gradient(109deg, rgba(0, 0, 0, 0.773), black), radial-gradient(circle at top left, #FFFFFF, #D3D3D31A);
    backdrop-filter: blur(25px);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }

  .section-dois .card .conteudo {
    padding: 2em;
  }

  .section-dois .card .conteudo h4 {
    padding: 20px 0 20px 0;
  }

  .section-dois .card .conteudo p {
    color: white;
    line-height: 24px;
    opacity: 0.5;
  }

  .section-tres .card {
    width: 537px;
    border: double 2px transparent;
    border-radius: 10px;
    background-image: linear-gradient(109deg, rgba(0, 0, 0, 0.773), black), radial-gradient(circle at top left, #FFFFFF, #D3D3D31A);
    backdrop-filter: blur(25px);
    background-origin: border-box;
    background-clip: content-box, border-box;

  }

  .section-tres {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    width: 1100px;
    padding-top: 30px;
  }

  .section-tres .card .conteudo {
    padding: 2em;
  }

  .section-tres .card .conteudo h4 {
    padding: 20px 0 20px 0;
  }

  .section-tres .card .conteudo p {
    color: white;
    line-height: 24px;
    opacity: 0.5;
  }

  .box-section-tres {
    display: grid;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .section-gps {
    background-image: url(fundo-teste.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 200px;
    margin-bottom: 200px;
    height: 900px;
  }

  .card-gps {
    display: flex;
    justify-content: center;
    gap: 230px;
    padding-top: 100px;
  }

  .card-gps .conteudo-um {
    width: 450px;
    height: 612px;
    background: #232323;
    padding: 100px 50px 50px 50px;
  }

  .card-gps .conteudo-um h2 {
    font-size: 50px;
    padding-bottom: 10px;
  }

  .card-gps .conteudo-um .sub-titulo {
    font-size: 30px;
  }

  .card-gps .conteudo-um .legenda {
    line-height: 30px;
    width: 282.23px;
    font-size: 20px;
    padding: 50px 0;
  }

  .bt-gps {
    border-radius: 5px;
    background: #FC0;
    width: 223px;
    height: 38px;
    flex-shrink: 0;
  }

  .bt-gps a {
    color: black;
  }

  .card-gps .conteudo-dois {
    margin-top: 100px;
  }


  .box-center {
    display: grid;
    justify-content: center;
  }

  .box-aluguel {
    display: grid;
    justify-content: center;
  }

  .titulo-aluguel {
    text-align: center;
    font-size: 36px;
    padding-bottom: 70px;
  }

  .section-aluguel {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    max-width: 1100px;
  }

  .section-aluguel .card {
    min-width: 100px;
    max-width: 350px;
    border: double 2px transparent;
    border-radius: 10px;
    background-image: linear-gradient(109deg, rgba(0, 0, 0, 0.773), black), radial-gradient(circle at top left, #FFFFFF, #D3D3D31A);
    backdrop-filter: blur(25px);
    background-origin: border-box;
    background-clip: content-box, border-box;
    overflow: hidden;
    margin-top: 10px;
  }

  .section-aluguel .card .conteudo img {
    width: 350px;
  }


  .section-aluguel .card .conteudo {
    padding: 0;
  }

  .section-aluguel .card .conteudo h4 {
    padding: 30px 30px 30px 30px;
  }

  .section-aluguel .card .conteudo p {
    color: rgb(200, 204, 207);
    font-size: 12px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    line-height: 18px;
  }

  .bt-card-aluguel {
    background-color: #FC0;
    border-radius: 5px;
    padding: 10px;
    margin-left: 30px;
    margin-bottom: 30px;

  }

  .bt-card-aluguel a {
    color: black;
  }

  #conteudo {
    display: none;
    margin-top: 10px;
  }
  #verMais {
    background-color: #FC0;
    border-radius: 5px;
    padding: 10px;
    margin-left: 30px;
    margin-bottom: 30px;
    color: black;

  }
  #verMenos {
      display: none;
      background-color: #FC0;
      border-radius: 5px;
      padding: 10px;
      margin-left: 30px;
      margin-bottom: 30px;
      color: black;
  }

  .box-bt-ver-mais {
    text-align: center;
    padding-top: 50px;
  }

  .box-depoimentos {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(fundo-teste.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 200px;
    margin-bottom: 200px;
    height: 900px;
  
  }
  
  section.depoimentos {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 80px 0 30px 0;

    }
    section.depoimentos .texto {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 30%;
      padding: 0 60px;
    }
  
    .div-titulo-depoimentos {
      display: flex;
      justify-content: center;
      font-size: 36px;
      margin: 2px;
    }
  
    .titulo-depoimentos {
      color: black;
      text-align: center;
      width: 100%;
      padding-top: 50px;
    }
  
  
    .item p {
        border-radius: 20px;
        background: #FDFDFD;  
        padding: 28px 30px;
    }
  
  
    section.depoimentos .texto p {
      line-height: 1.5;
      margin: 10px 0 0 0;
      width: 100%;
      max-width: 400px;
    }
  
    section.depoimentos .texto .tag {
      display: flex;
      align-items: center;
      margin: 20px 0 0 0;
    }
    section.depoimentos .texto .tag img {
      width: 100%;
      max-width: 40px;
    }
    section.depoimentos .texto .tag .info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0 0 0 10px;
    }
  
    h3 {
      margin: 0;
    }
  
    section.depoimentos .slide {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 70%;
      position: relative;
      overflow: hidden;
    }
    section.depoimentos .slide .sombra {
        display: none;
      position: absolute;
      top: 0;
      right: 0;
      width: 200px;
      height: 100%;
      background: linear-gradient(0deg, #d96608d7, #EDF6FC);
      background: -webkit-linear-gradient(0deg, #edf6fc00, #7f1f108f);
      z-index: 2;
    }
    section.depoimentos .slide .sombra.dois {
  
    }
    section.depoimentos .slide .itens {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      animation: itensDepoimentos 240s linear infinite;
    }
    @keyframes itensDepoimentos {
      0% {
        transform: translate(0, 0);
      }
      50% {
        transform: translate(-1500px, 0);
      }
      100% {
        transform: translate(0, 0);
      }
    }
    section.depoimentos .slide .itens .item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 30px;
      width: 300px;
      min-width: 400px;
      background-color: #F2F2F2;
      margin: 0 20px 0 0;
      border-radius: 10px;
    }
    section.depoimentos .slide .itens .item .nome {
      display: flex;
      align-items: center;
    }
    section.depoimentos .slide .itens .item .nome .foto {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      margin: 0 15px 0 0;
    }

    section.depoimentos .slide .itens .item .nome .info h3 {
      color: black;
    }
  
    section.depoimentos .slide .itens .item .nome .info h4 {
      font-family: var(--semibold);
      font-size: var(--f3);
      color: rgb(92, 92, 92);
      margin: 5px 0 0 0;
    }
  
  
    .aspas {
        position: relative;
        left: 260px;
        top: 30px;
        margin: 0;
    }
  
  
    
  
    section.depoimentos .slide .itens .item p {
      font-family: var(--light);
      font-size: var(--f3);
      color: var(--cor-preto);
      line-height: 1.5;
      color: #12141D;
    }

    .div-duvidas {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  
    summary {
      cursor: pointer;
      color: #1C1C1C;
  }
  
  summary p {
      color: white;
  }
  
  
  details {
      background-color: #1C1C1C;
      border-radius: 5px;
      width: 1100px;
  }
  
  details li {
      color: #AFB3CA;
  }
  
  details ul {
      background-color: #1C1C1C;
      padding-left: 10px;
      padding-bottom: 10px;
      border-radius: 5px;
  }
  
  .titulo-duvidas {
    font-size: 44px;
    font-weight: 600;
    padding-left: 10px;
    padding-bottom: 80px;
    text-align: center;
    color: white;
  }
  
  .card-duvidas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  .duvidas {
      display: grid;
      gap: 10px;
      padding-left: 10px;
      padding-right: 10px;
      justify-content: center;
  }

  .form {
    padding: 200px 0 200px 0;
    background-color: white;
  }

  .card-fomr {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;
  }

  .texto-fomr {
    width: 400px;
  }

  .card-fomr .texto-fomr h2 {
    font-size: 45px;
    color: #181818;
    padding-bottom: 10px;
  }

  .legenda-form {
    color: #595566;
  }

  .fone-fomr {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .fone-fomr p {
    padding-left: 10px;
    color: black;
  }
  
  .loc-form {
    display: flex;
    align-items: center;
  }

  .loc-form p {
    padding-left: 10px ;
    color: black;
  }
  
  




  @media (max-width: 1820px) {
    .card-gps .conteudo-dois img {
      height: 500px;
    }

    .card-gps .conteudo-um {
      width: 400px;
      height: 500px;
      padding: 70px 50px 50px 50px;
    }

    .card-gps .conteudo-um .legenda {
      line-height: 30px;
      width: 282.23px;
      font-size: 16px;
      padding: 50px 0;
    }
  }


  @media (max-width: 1680px) {
    .card-gps .conteudo-dois {
      margin-top: 50px;
    }
    .card-gps .conteudo-dois img {
      height: 500px;
    }

    .section-gps {
      height: 800px;
    }
  }


  @media (max-width: 1600px) {
    body {
      padding-top: 100px;
    }

    .card-gps .conteudo-um {
      width: 400px;
      height: 450px;
      padding: 60px 50px 50px 50px;
    }

    .card-gps .conteudo-um .legenda {
      line-height: 30px;
      width: 282.23px;
      font-size: 16px;
      padding: 40px 0;

    }

    .card-gps .conteudo-dois {
      margin-top: 50px;
    }
    .card-gps .conteudo-dois img {
      height: 450px;
    }

    .section-gps {
      height: 700px;
    }
  }

  

  @media (max-width: 1560px) {
    .box-section-dois {
      padding-top: 100px;
    }

    .section-gps {
      height: 650px;
    }


  }

  @media (max-width: 1400px) {
    .card-um-section-um h1 {
      font-size: 40px;
    }

    .card-um-section-um p {
      line-height: 28px;
      font-size: 16px;
    }

    .card-gps .conteudo-um {
      width: 370px;
      height: 450px;
      padding: 60px 50px 50px 50px;
    }

    .card-gps .conteudo-dois {
      margin-top: 20px;
    }

    .card-gps .conteudo-dois img {
      height: 420px;
    }

    .section-gps {
      height: 620px;
    }
  

  }

  @media (max-width: 1300px) {
    .card-gps .conteudo-um {
      width: 350px;
      height: 430px;
      padding: 60px 50px 50px 50px;
    }

    .card-gps .conteudo-um h2 {
      font-size: 40px;
    }

    .card-gps .conteudo-um .legenda {
      padding: 20px 0;
      font-size: 14px;
      width: 230px;
    }

    .card-gps .conteudo-dois img {
      height: 370px;
    }

    .section-gps {
      height: 570px;
    }



  }

  @media (max-width: 1200px) {
    .card-um-section-um h1 {
      font-size: 35px;
      padding-top: 30px;
    }

    .card-um-section-um p {
      line-height: 26px;
      font-size: 15px;
      padding-bottom: 35px;
    }

    .card-gps .conteudo-um {
      width: 300px;
      height: 400px;
      padding: 40px 50px 50px 30px;
    }

    .card-gps .conteudo-dois img {
      height: 350px;
    }

    .section-gps {
      height: 550px;
    }



  }

  @media (max-width: 1120px) {
    .card-um-section-um {
      padding: 0 20px 0 20px;
    }

    .section-dois .card {
      width: 330px;
    }

    .section-tres .card {
      width: 505px;
    }

    .center {
      width: 100%;
    }






  }

  @media (max-width: 1100px) {
    .center {
      max-width: 100%;
    }

    .section-dois {
      width: 100%;
    }

    .section-tres {
      width: 1000px;
    }

    .section-dois .card {
      width: 300px;
    }

    .section-tres .card {
      width: 460px;
    }

    .card-gps .conteudo-dois {
      margin-top: 20px;
    }

    .card-gps .conteudo-um {
      width: 300px;
      height: 400px;
      margin-top: -50px;
      padding: 40px 50px 50px 30px;
    }

    .card-gps .conteudo-dois img {
      height: 320px;
    }

    details {
      border-radius: 5px;
      width: 900px;
    }


  }

  @media (max-width: 1000px) {

    body {
      background-image: none;
      padding-top: 0;
    }

    .logo {
      width: 100px;
    }

    .card-um-section-um {
      background-image: url(img-principal.png);
      background-repeat: no-repeat;
      background-size: 100%;
      height: 400px;
      width: 100%;
      padding-top: 0;
      padding-left: 0;
      padding-top: 50px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .card-um-section-um h1 {
      font-size: 35px;
      padding-top: 30px;
      width: 100%;
    }

    .card-um-section-um p {
      line-height: 26px;
      font-size: 15px;
      padding-bottom: 35px;
      width: 100%;
      padding-top: 0;
    }

    .section-dois {
      display: flex;
      justify-content: center;
      gap: 25px;
      flex-wrap: wrap;
      width: 100%;
    }

    .section-dois .card {
      width: 100%;
    }

    .section-tres .card {
      width: 100%;
    }

    .section-tres {
      width: 100%;
    }

    .section-gps {
      background-image: url(fundo-amarelo-mobile.png);
      background-repeat: no-repeat;
      background-size: 100%;
      margin-top: 100px;
      margin-bottom: 200px;
      height: 700px;
    }
  
    .card-gps {
      display: grid;
      flex-wrap: wrap-reverse;
      justify-content: center;
      gap: 10px;
      padding-top: 0px;
      padding: 150px 20px 0 20px;
    }
  
    .card-gps .conteudo-um {
      width: 100%;
      height: 500px;
      background: #232323;
      padding: 70px 30px 0px 40px;
    }
  
    .card-gps .conteudo-um h2 {
      font-size: 40px;
      padding-bottom: 10px;
    }
  
    .card-gps .conteudo-um .sub-titulo {
      font-size: 30px;
    }
  
    .card-gps .conteudo-um .legenda {
      line-height: 30px;
      width: 100%;
      font-size: 16px;
      padding: 40px 0;
    }
  
    .bt-gps {
      border-radius: 5px;
      background: #FC0;
      width: 223px;
      height: 38px;
      flex-shrink: 0;
    }
  
    .bt-gps a {
      color: black;
    }
  
    .card-gps .conteudo-dois {
      margin-top: 0px;
    }

    .card-gps .conteudo-dois img {
      width: 100%;
      display: none;
    }

    .box-depoimentos {
      background-image: url(fundo-amarelo-mobile.png);
      background-repeat: no-repeat;
      background-size: 100%;
      margin-top: 100px;
      margin-bottom: 200px;
      height: 750px;
    }

    .div-titulo-depoimentos {
      display: flex;
      justify-content: center;
      font-size: 20px;
      margin: 2px;
      text-align: left;
    }
    
    .titulo-depoimentos {
      color: black;
      text-align: center;
      width: 100%;
      padding: 0 10px 0 10px;
      font-size: 36px;
    }
    
    section.depoimentos {
        flex-direction: column-reverse;
        padding: 60px 0;
        justify-content: center;
      }
      section.depoimentos .texto {
        width: 100%;
        padding: 0 30px 30px 30px;
      }
      section.depoimentos .texto h2 {
        font-size: var(--f5);
      }
      section.depoimentos .texto p {
        font-size: var(--f2);
      }
      section.depoimentos .slide {
        width: 100%;
      }
      section.depoimentos .slide .sombra {
        display: none;
        width: 100px;
        background: linear-gradient(0deg, #edf6fc00, #7f1f1000);
        background: -webkit-linear-gradient(0deg, #7f1f1000, #7f1f108f);
      }
      section.depoimentos .slide .sombra.dois {
        display: none;
        right: auto;
        left: 0;
        background: linear-gradient(0deg, #7f1f1000, #edf6fc00);
        background: -webkit-linear-gradient(0deg, #7f1f108f, #edf6fc00);
      }
      section.depoimentos .slide .itens .item {
        padding: 25px;
        width: 280px;
        min-width: 280px;
        margin: 0 15px 0 0;
      }
      section.depoimentos .slide .itens .item .nome {
        display: flex;
        align-items: center;
      }
      section.depoimentos .slide .itens .item .nome .foto {
        width: 40px;
        height: 40px;
      }
      section.depoimentos .slide .itens .item .nome .info h3 {
        font-size: var(--f2);
      }
    
      section.depoimentos .slide .itens .item .estrelas img {
        max-width: 15px;
        margin: 0 5px 0 0;
      }
      section.depoimentos .slide .itens .item p {
        font-size: var(--f2);
      }
    
      .box-depoimentos {
        padding-top: 100px;
        padding-bottom: 50px;
      }
     
      
      .aspas {
        position: relative;
        left: 170px;
        top: 20px;
        width: 40px;
    }
    
    
    .item p {
        border-radius: 20px;
        background: #FDFDFD;  
        padding: 28px 30px;
    }

    .div-duvidas {
      padding-top: 0px;
      padding-bottom: 100px;
    }
  
    details {
      border-radius: 5px;
      width: 100%;
    }
  
    .card-duvidas {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 10px;
      padding-bottom: 20px;
      margin-top: 0;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 10px;
      margin-bottom: 0;
      border-radius: 0;
    }

    .form {
      padding: 70px 0 50px 0;
    }
  
    .card-fomr {
      display: grid;
      align-items: center;
      justify-content: center;
      gap: 50px;
      padding: 1em;
    }
  
    .texto-fomr {
      width: 100%;
    }
  
    .card-fomr .texto-fomr h2 {
      font-size: 45px;
      color: #181818;
      padding-bottom: 10px;
    }
  
    .legenda-form {
      color: #595566;
    }
  
    .fone-fomr {
      display: none;
    }
  
    
    .loc-form {
      display: none;
    }


  

    


  }

  @media (max-width: 800px) {

    .card-um-section-um {
      background-image: url(Instagram\ story\ -\ 1\ \(1\).png);
      background-repeat: no-repeat;
      background-size: 100%;
      height: 700px;
      width: 100%;
      padding-top: 100px;
    }

    .section-dois {
      background-color: rgba(0, 0, 0, 0.773);
    }

    .section-dois .card {
      width: 100%;
    }

    .titulo-section-dois {
      text-align: left;
      padding: 0px 0px 50px 0px;
      font-size: 30px;
    }

    .box-aluguel {
      display: grid;
      justify-content: center;
    }
  
    .section-aluguel {
      gap: 15px;
    }

    .section-aluguel .card {
      min-width: 100px;
      max-width: 230px;
      margin-top: 20px;
    }


  .section-aluguel .card .conteudo img {
    width: 350px;
  }


  .section-aluguel .card .conteudo h4 {
    padding: 20px;
  }

  .section-aluguel .card .conteudo p {
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }

  .bt-card-aluguel {
    padding: 10px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 30px;
  }





  }

  @media (max-width: 750px) {

    .section-aluguel .card {
      min-width: 100px;
      max-width: 300px;
      margin-top: 20px;
    }


  .section-aluguel .card .conteudo img {
    width: 350px;
  }


    
  }

  @media (max-width: 650px) {
    .section-aluguel .card {
      min-width: 100px;
      max-width: 280px;
      margin-top: 20px;
    }

    
  }

  @media (max-width: 590px) {
    .section-aluguel .card {
      min-width: 100px;
      max-width: 250px;
      margin-top: 20px;
    }

    .section-gps {
      height: 750px;
      margin-bottom: 100px;
    }

    .titulo-duvidas {
      text-align: left;
      padding-left: 20px;
      width: 100%;
      font-size: 36px;
    }
    
  }

  @media (max-width: 530px) {
    .section-aluguel .card {
      min-width: 100px;
      max-width: 200px;
      margin-top: 20px;
    }

    .box-aluguel {
      display: grid;
      justify-content: center;
    }
  
    .section-aluguel {
      gap: 10px;
    }

    .section-aluguel .card {
      min-width: 100px;
      max-width: 200px;
      margin-top: 20px;
    }


  .section-aluguel .card .conteudo img {
    width: 200px;
  }


  .section-aluguel .card .conteudo h4 {
    padding: 10px;
  }

  .section-aluguel .card .conteudo p {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
  }

  .bt-card-aluguel {
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 10px;
  }

  .titulo-aluguel {
    text-align: left;
    padding-left: 10px;
    font-size: 30px;
    padding-bottom: 50px;
  }

  .titulo-depoimentos {
    color: black;
    text-align: left;
    width: 100%;
    padding: 0 10px 0 10px;
    font-size: 36px;
  }
    
  }

  @media (max-width: 415px) {
    .section-aluguel .card {
      min-width: 100px;
      max-width: 190px;
      margin-top: 20px;
    }

    
  }

  @media (max-width: 390px) {
    .section-aluguel .card {
      min-width: 100px;
      max-width: 180px;
      margin-top: 20px;
    }

    .section-gps {
      height: 700px;
    }

    
  }

  @media (max-width: 375px) {
    .section-aluguel .card {
      min-width: 100px;
      max-width: 170px;
      margin-top: 20px;
    }

    .bt-card-aluguel {
      font-size: 9px;
    }

    .section-gps {
      height: 650px;
    }
    
  }

  @media (max-width: 350px) {
    .section-aluguel .card {
      min-width: 150px;
      max-width: 160px;
      margin-top: 20px;
    }

    .bt-card-aluguel {
      font-size: 8px;
    }

    .section-gps {
      height: 600px;
    }
    
  }

  @media (max-width: 330px) {
    .section-aluguel .card {
      min-width: 100px;
      max-width: 150px;
      margin-top: 20px;
    }

    .bt-card-aluguel {
      font-size: 8px;
    }
    
  }

  @media (max-width: 310px) {
    .section-aluguel .card {
      min-width: 200px;
      max-width: 200px;
      margin-top: 20px;
    }
    
    .section-aluguel .card .conteudo img {
      width: 200px;
    }

    .bt-card-aluguel {
      font-size: 8px;
    }
    
  }


  @media (max-width: 370px) {
    .card-gps {
      padding: 100px 20px 0 20px;
    }
    
  }

  @media (max-width: 350px) {
    .card-gps .conteudo-um {
      width: 100%;
      height: 500px;
      background: #232323;
      padding: 50px 30px 20px 40px;
    }

    
  }

